/* general */

body {
  background: #FCFCFC;
  min-width: 320px;
  margin: 0;
}

p {
  font-family: source-sans-pro, sans-serif;
}

a {
  font-family: source-sans-pro, sans-serif;
}

button {
  width: 9.5rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.8125rem;
  border-style: none;
  background-color: #2E1B35;
  color: #FCFCFC;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

button:hover {
  background-color: #502F5C;
}

@media (min-width: 1133px) {  
  button {
    width: 12.125rem;
    height: 3.5rem;
    padding: 1rem 2.4375rem;
    border-radius: 0.8125rem;
    border-style: none;
    background-color: #2E1B35;
    color: #FCFCFC;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  button:hover {
    background-color: #502F5C;
  }
}


/* header */

header {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 0.5rem;
  margin: 1.5rem;
}

#logo-title-container {
  grid-row: 1;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}

#logo {
  width: 1.691rem;
  height: 1.691rem;
}

#title {
  margin: 0;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#menu-button {
  grid-row: 1;
  grid-column: 4 / 5;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  justify-self: flex-end;
  background: url("/static/images/menu-button-opening.svg");
  padding: 0;
  border-radius: 0;
}

header > nav {
  grid-row: 1;
  grid-column: 1 / 5;
  grid-row: 2;
  margin: 0.5rem 0 0 0;
}

header > nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  padding-inline-start: 0;
}

header > nav > ul > li {
  float: center;
}

header > nav > ul > li > a:link {
  text-decoration: none;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03rem;
}

header > nav > ul > li > a:visited {
  text-decoration: none;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03rem;
}

header > nav > ul > li > #active-page {
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.31rem;
}

header > hr {
  grid-row: 3;
  grid-column: 1 / 5;
  margin: 0;
  border: inset 0.063rem #8F5EA0;
}

@media (min-width: 1133px) {
  header {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 1.5rem;
    width: 1013px;
    margin: 2.5rem auto 4rem auto;
  }

  #logo-title-container {
    grid-row: 1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
  }
  
  #logo {
    width: 3.25rem;
    height: 3.25rem;
    grid-column: 1;
  }

  #title {
    margin: 0;
    color: #2E1B35;
    font-family: source-sans-pro, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #menu-button {
    display: none;
  }

  header > nav {
    grid-row: 1;
    grid-column: 8 / 13;
    grid-row: 1;
    margin: 0;
  }

  header > nav > ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding-inline-start: 0;
  }

  header > nav > ul > li {
    float: right;
  }

  header > nav > ul > li > a:link {
    text-decoration: none;
    color: #2E1B35;
    font-family: source-sans-pro, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
  }

  header > nav > ul > li > a:visited {
    text-decoration: none;
    color: #2E1B35;
    font-family: source-sans-pro, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
  }

  header > nav > ul > li > #active-page {
    color: #2E1B35;
    font-family: source-sans-pro, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03rem;
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.31rem;
  }

  header > hr {
    grid-row: 2;
    grid-column: 1 / 13;
    margin: 0;
    border: inset 0.063rem #8F5EA0;
  }
}


/* main */

main {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  margin: 0 1.5rem 0 1.5rem;
  gap: 2.25rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.section-container > .title {
  margin: 0;
  color: #2E1B35;
  font-family: museo-slab-rounded, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02rem;
}

@media (min-width: 1133px) {
  main {
    display: flex;
    flex-direction: column;
    width: 1013px;
    margin: 0 auto 0 auto;
    gap: 6rem;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .section-container > .title {
    margin: 0;
    color: #2E1B35;
    font-family: museo-slab-rounded, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.02rem;
  }
}


/* footer */

footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  min-width: 272px;
  gap: 0.5rem;
  margin: 3.5rem 1.5rem 1.5rem 1.5rem;
  align-items: center;
}

#social {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
  
.social-logo {
  width: 1.75rem;
  height: 1.75rem;
}

#email {
  grid-column: 1;
  grid-row: 2;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#copyright {
  grid-column: 2 / 5;
  grid-row: 2;
  margin: 0;
  text-align: right;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (min-width: 1133px) {
  footer {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 1.25rem;
    width: 1013px;
    margin: 4rem auto 2.5rem auto;
    align-items: center;
  } 

  #social {
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }
    
  .social-logo {
    width: 1.75rem;
    height: 1.75rem;
  }

  #email {
    grid-column: 2 / 3;
    grid-row: 1;
    color: #2E1B35;
  }

  #copyright {
    grid-column: 8 / 13;
    grid-row: 1;
    text-align: right;
    color: #2E1B35;
  }
}


/* section - about */

#about-container-left-aligned {
  display: grid;
  gap: 0.75rem;
  grid-template-areas:
    "title"
    "text"
    "portrait";
}

#about-container-right-aligned {
  display: grid;
  gap: 0.75rem;
  grid-template-areas:
    "title"
    "text"
    "portrait";
}

#about-title {
  grid-area: title;
  margin: 0;
  color: #2E1B35;
  font-family: museo-slab-rounded, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04rem;
}

#about-text {
  grid-area: text;
  margin: 0;
  color: #2E1B35;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.025rem;
}

#about-portrait {
  grid-area: portrait;
  width: 100%;
  height: 100%;
  max-width: 13.75rem;
  max-height: 17.75rem;
  justify-self: end;
}

@media (min-width: 1133px) {
  #about-container-left-aligned {
    display: grid;
    gap: 1rem 4.3rem;
    grid-template-areas:
      "portrait ."
      "portrait title"
      "portrait text"
      "portrait .";
  }

  #about-container-right-aligned {
    display: grid;
    gap: 1rem 4.3rem;
    grid-template-areas:
      ".     portrait"
      "title portrait"
      "text  portrait"
      ".     portrait";
  }

  #about-title {
    grid-area: title;
    color: #2E1B35;
    font-family: museo-slab-rounded, sans-serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12rem;
  }

  #about-text {
    grid-area: text;
    color: #2E1B35;
    font-family: source-sans-pro, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04rem;
  }

  #about-portrait {
    grid-area: portrait;
    max-width: unset;
    max-height: unset;
  }
}